* {
	padding: 0; margin: 0;
}

/* 
	/////
 @maincolor - #ff4757 
 @secondColor  - #ff6b81
*/

body {
	font-family: 'Poppins', sans-serif;
	background: white;
	background-size: cover;
	overflow-x: hidden;
}
/* header */
.header__main {
	width: 100%;
	height: 700px;
}

.header__main h1 {
	color: #454545;
	font-size: 25px;
	padding: 25px;
	text-align: center;
	padding-top: 150px;
}

.header__main p {
	text-align: center;
	color: #353535;
	opacity: .6;
	font-size: 15px;
}

.header__main .header__button {
	width: 200px;
	height: 35px;
	border: none;
	border-radius: 5px;
	background: linear-gradient(45deg, #ff4757 0%, #ff6b81 100%);
	font-weight: 900;
	font-size: 10px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	font-family: 'Poppins';
	cursor: pointer;
	margin-top: 25px;
}

.header__main .fa-facebook-f,
.fa-github,
.fa-instagram {
	color: #454545;
  margin: 30px 0px;
	padding: 20px;
	font-size: 17px;
}


.header__main .fa-arrow-down {
	color: white;
	font-size: 30px;
	display: block;
	margin-top: 30px;
  cursor: pointer;
	/* animation: arrowAnimation .9s ease-in-out 0s infinite; */
}

/* navigation */

.nav {
	width: 100%;
	height: 60px;
	background: /////;
}

.nav h1 {
	font-weight: 500;
	color: #454545;
	font-size: 25px;
	padding-top: 35px;
	text-align: center;
}

.nav h1 span {
	font-weight: 800;
}
/* about me section */
.about--me {
	width: 100%;
	height: 500px;
	display: block;
	background:white;
	margin-top: -300px;
	color: #252525;
}

.about--me h1[class=name] {
	color: #ff4757;
	font-size: 17px;
	padding: 25px;
	font-weight: 600;
	text-align: center;
	padding-top: 150px;
}

.about--me h1[class=city] {
	color: #505050;
	font-size: 13px;
	padding: 25px;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	padding-top: 0px;
	margin-top: -1px;
}

.about--me p {
  text-align: center;
	font-size: 14px;
	color: gray;
	font-weight: 400;
	padding: 0px 35px;
}

/* contact section */

.contact {
	width: 100%;
	height: 300px;
}

.contact h1 {
	font-weight: 700;
	color: #454545;
	font-size: 25px;
	padding-top: 35px;
	text-align: center;
}

.contact p {
	text-align: center;
	color: #353535;
	opacity: .6;
	font-size: 15px;
	padding: 10px 35px;
	font-weight: 400;
}

.contact form {
	margin-top: 45px;
	display: block;
}

.contact form input[type=text] {
	display: block;
	width: 320px;
	height: 35px;
	border: 1px solid lightgray;
	border-radius: 4px;
	padding: 0px 15px;
	margin: 10px auto;
	font-family: 'Poppins', sans-serif;
	color: gray;
	font-size: 12px;
	font-weight: 500;
}

.contact form textarea {
	width: 320px;
	height: 200px;
	border: 1px solid lightgray;
	border-radius: 4px;
	font-family: 'Poppins', sans-serif;
	color: gray;
	font-size: 12px;
	font-weight: 500;
	padding: 15px;
}

.confirmBtn {
	width: 320px;
	height: 40px;
	margin-bottom: 55px;
	border: none;
	border-radius: 5px;
	background: linear-gradient(45deg, #ff4757 0%, #ff6b81 100%);
	font-weight: 900;
	font-size: 10px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	font-family: 'Poppins';
	cursor: pointer;
	margin-top: 25px;
}

footer { 
	width: 100%; 
	height: 100px; 
	margin-top: 260px;
	margin-bottom: 50px;
	text-align: center;
}

footer p {
	color: gray;
	font-size: 13px;
	padding-top: 50px;
	font-weight: 500;
}